body {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

header {

    background-color: #5BBA93;
    color: #000000;
    text-align: center;
    padding: 1rem;

}

.kimpic {
    margin-top: -150px;
}

h2 {
    text-decoration-line: underline
}

Section {
    margin-top: -150px;
}

header,
nav,
main,
footer,
body {
    margin: 2rem auto;
    max-width: 760px;
}

img {
    margin-left: 550px;
    margin-top: 50px;
    border: 1px solid #000000;
    border-radius: 25px;
}

footer {
    background-color: #5BBA93;
    color: #000000;
    text-align: center;
}