body {
    font-family: Ubuntu, sans-serif;
}
table {
    border-collapse: collapse;
    border: 2px solid #e7f0ed;
    text-align: center;
    box-shadow: 5px 5px 10px  #628ca6;
    margin: 0 auto;
}
table, th, td {
    border: 1px solid #e7f0ed;
    padding: 10px;
}
thead th {
    background-color: #7fb9c2;
    font-size: 2.0rem;
}
tbody th {
    background-color: #628ca6;
    color: white;
}

tfoot {
    font-size: .75em;
}
tfoot td {
    background-color: #7fb9c2;
}
.light {
    background-color: #e7ffed;
}
tr:nth-child(even) {
    background-color: #e7f0ed;
}
